* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    margin: 0;
}
h1, p  {
font-family: Arial, Helvetica, sans-serif;
}
.container{
position: relative;
width: 100%;
max-width: 960px;
margin: 0 auto;
padding: 0 20px;
box-sizing: border-box;
}
.header-container{
    display: flex;
    align-items: center;
}
.header{
    background-color: rgb(27, 31, 48);
    width: 100vw;
    height: 700px;
    background-size: cover;
}

.header-brand-wrapper{
    float: left;
    padding-top: 50px;
}
.header-logo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    display: block;
    text-decoration: none;
}
.header-navbar-links{
    float: right;
    margin-top: 50px;
    margin-left: 400px;
}
.header-navbar-links li{
    float: left;
    padding-left: 30px;
    list-style-type: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.main-slider{
    padding-top: 200px;
    display: flex;
    background-color: rgb(27, 31, 48);
    background-size: cover;
}
.main-slider-left{
    flex: 1 1 auto;
    }
.main-slider-left h1{
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
color: white;
}
.main-slider-left p{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.main-slider-button{
margin-top: 30px;
color: rgb(255, 255, 255);
background-color: rgb(27, 181, 252);
width: 100px;
height: 30px;
border-radius: 5px;
border-style: none;
font-family: Arial, Helvetica, sans-serif;
font-weight: 900;
}

.main-slider-right{
flex: 1 1 auto;
}


.information{
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
}
.information div{
    padding-top: 50px;
    flex: 1 1 auto;
}
.information p{
    padding-top: 20px;
    text-align: center;
}
.container-h1{
    padding-top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(73, 73, 73);
}
.border{
    border-style: solid;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    border-color: rgb(27, 181, 252);;
    border-width: 5px;
}